* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: black;
  height: 500vh;
}

:root {
  --font-1: "Poppins", sans-serif;
}

/* Home Section Start */

.home {
  background: linear-gradient(160deg, #000000 55%, #ffd700 110%);
  color: white;
  min-height: 100vh;
}

.logo img {
  width: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

ul li a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  font-family: var(--font-1);
  z-index: 1000;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 32px;
  background-color: rgb(255, 255, 255);
  margin: 8px 12px;
  border-radius: 4px;
  transition: .5s;
}

nav.sticky ul li a {
  color: #efce13;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  margin-top: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 32px;
  gap: 12px;
  font-weight: bold;
}

.hero-text span {
  color: #efce13;
}

.hero-kiri {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--font-1);
}

.hero-kanan img {
  width: 600px;
}

.hero-button {
  display: flex;
  gap: 12px;
}

.hero-button button {
  padding: 12px 32px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.button-1 {
  background-color: #efce13;
  color: white;
  font-size: 14px;
  border: none;
}

.button-2 {
  background-color: transparent;
  color: #efce13;
  border: 2px solid #efce13;
}

.hero-button button:hover {
  transform: scale(1.1);
}

.hero-time {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  gap: 12px;
}

.promo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time {
  display: flex;
  padding: 8px 8px;
  border-radius: 4px;
  justify-content: center;
  border: 2px solid #efce13;
}

.index-time {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

/* Home Section End */

/* Price Section Start */
.price {
  background: linear-gradient(180deg, #000000 55%, #ffd700 120%);
  color: white;
  min-height: 100vh;
  /* margin-top: 12px; */
  padding: 12px 32px;
  font-family: var(--font-1);
}

.title-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-1);
  padding-left: 32px;
  margin-bottom: 32px;
  gap: 12px;
  font-size: 20px;
}

.price-logo img {
  width: 120px;
}

.price-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.box-price{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  background-color: white;
  border: 2px solid #efce13;
  color: black;
  padding: 48px 32px;
  border-radius: 12px;
  transition: .5s;
  cursor: pointer;
}

.box-price h2{
  color: #efce13;
}

.box-price:hover{
  background-color: #efce13;
  color: white;
}
.box-price:hover h2{
  color: white;
}

.box-price:hover button{
  background-color: white;
  color: #efce13;
}

.kriteria{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.detail-kriteria img{
  display:flex;
  width:32px;
}

.box-price button{
  padding: 12px 32px;
  color: black;
  font-weight: bold;
  background-color: #C9A343;
  border: 2px solid #efce13;
  border-radius: 12px;
  transition: .5s;
  cursor: pointer;
}

.detail-kriteria{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
/* Price Section End */

/* Kunggulan Start */
section.keunggulan{
  background: linear-gradient(180deg, #000000 60%, #ffd700 150%);
  color: white;
  min-height: 100vh;
  padding: 12px 32px;
  font-family: var(--font-1);
}

.title_keunggulan{
  color: white;
  font-family: var(--font-1);
  text-align: center;
  margin-top: 32px;
}

.title_keunggulan h1{
  font-size: 32px;
}
.title_keunggulan p{
  font-size: 24px;
}
.title_keunggulan span{
  color: #efce13;
}

/* Kunggulan End */

